In [1]:
#libs

from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler

import time
import sklearn
import datetime
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as m
import matplotlib.pyplot as plt

%matplotlib inline

# *Load*

In [2]:
# load and put columns name in english

df = pd.read_csv('data/dataset.csv', encoding='utf-8').rename(columns={'variante':'version', 
                                                                        'compra':'conversion', #if people buy
                                                                        'data':'date'})
df.head()

         id version  conversion        date
0  0x6f9421       A       False  2019-12-26
1  0x59d442       A       False  2019-08-16
2  0x6db8f8       A        True  2019-03-18
3  0x68245d       A       False  2019-02-13
4  0x28566e       A       False  2019-09-28

# *Exploratory Data Analysis*

In [3]:
print(f'Number of row: {df.shape[0]}')
print(f'Number of columns: {df.shape[1]}')

Number of row: 55000
Number of columns: 4

In [4]:
# columns information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55000 entries, 0 to 54999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          55000 non-null  object
 1   version     55000 non-null  object
 2   conversion  55000 non-null  bool
 3   date        55000 non-null  object
dtypes: bool(1), object(3)
memory usage: 1.3+ MB

In [5]:
# version's and conversion's describe
df[['version','conversion']].describe()

       version conversion
count    55000      55000
unique       2          2
top          A      False
freq     50000      46416

In [6]:
# Number of unique values
pd.DataFrame({'Columns':df.nunique().index,'Numb of Unique Values':df.nunique().values})

      Columns  Numb of Unique Values
0          id                  55000
1     version                      2
2  conversion                      2
3        date                    395

## Table Pivot

Per plate

In [ ]:
%%time

df_pivot_plate = df.pivot_table(index = ['id'], columns = ['weekday'], values = 'qty')
df_pivot_plate = df_pivot_plate.fillna(0).reset_index()
df_pivot_plate.rename(columns={0:'Monday', 1:'Tuesday', 2:'Wednesday', 3:'Thursday',
                               4:'Friday', 5:'Saturday', 6:'Sunday'}, inplace=True)

Per Day

# *1. Some configurations*

### Data Munging

In [11]:
# date granularity
df['date'] = pd.to_datetime(df['date'])
df['year'] = [x.year for x in df['date']]
df['month'] = [x.month for x in df['date']]
df['day'] = [x.day for x in df['date']]
df['weekday'] = [x.weekday() for x in df['date']] # 0-6 -> Mon-Sun
df.head(3)

         id version  conversion       date  year  month  day  weekday
0  0x6f9421       A       False 2019-12-26  2019     12   26        3
1  0x59d442       A       False 2019-08-16  2019      8   16        4
2  0x6db8f8       A        True 2019-03-18  2019      3   18        0

### Base Line

# *2. Hypothesis Test*

# *3. Distribution Plot*

# *4. Statistical Power*

# *5. Minimun Sample Size*

# *Final Considerations*